/* 1280px+ */
.cover__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: 1184px 740px;
    background-repeat: no-repeat;
    position: relative;
}

/* 1024px-1279px */
@media screen and (max-width: 1279px) {
    .cover__link {
        background-size: 1024px 640px;
    }
}
   
/* 768px-1023px */
 @media screen and (max-width: 1023px) {
    .cover__link {
        background-size: 768px 480px;
    }
}

/* 320px-767px */
@media screen and (max-width: 767px) {
    .cover__link {
        row-gap: 16px;
        background-size: cover;
    }
}