/* 1280px+ */
.cover {
    max-width: 1184px;
    max-height: 740px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

 /* 1024px-1279px */
 @media screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        max-height: 640px;
    }
}
  
/* 768px-1023px */
@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        max-height: 480px;
    }
}
  
/* 320px-767px */
@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        max-height: 200px;
        padding-bottom: 64px;
    }
}