/* 1280px+ */
.cover__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    color: #fff;
    padding: 245px 312px 0 312px;
    z-index: 2;
}

/* 1024px-1279px */
@media screen and (max-width: 1279px) {
    .cover__title {
        padding: 195px 232px 0 232px;
    }
}
  
/* 768px-1023px */
@media screen and (max-width: 1023px) {
    .cover__title {
        padding: 115px 104px 0 104px;
    }
}
  
/* 320px-767px */
@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding: 33px 16px 0 16px;
    }
}