/* 1280px+ */
.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    padding-bottom: 24px;
    padding-top: 92px;
    margin-left: auto;
    margin-right: auto;
}

 /* 1024px-1279px */
@media screen and (max-width: 1279px) {
    .footer {
        padding-left: 48px;
        padding-right: 48px;
        max-width: 928px;
    }
}
  
/* 320px-767px */
@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 0 118px 24px 16px;
        row-gap: 48px;
        max-width: 186px;
        max-height: 310px;
    }
}