/* 1280px+ */
.intro__title {
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
 }
 
 /* 1024px-1279px */
 @media screen and (max-width: 1279px) {
    .intro__title {
        max-width: fit-content;
        max-height: fit-content;
    }
 }